// ------------------------------------------------------------------------
// 버튼
// ------------------------------------------------------------------------

.btn {
  display: inline-block;
  position: relative;
  padding: 0.888em 0.888em 0.888em 1.333em;
  min-width: 12.4em;
  text-align: left;
  color: $white;
  background-color: transparent;
  border: 1px solid rgba($white, 1);
  font-family: $font-gothic;
  // text-transform: uppercase;
  // overflow: hidden;
  transition: all 0.34s ease-in-out;
  cursor: pointer;
  
  @include btn2-en;

  &[lang=ko] {
    @include btn1-kr;
  }

  @media all and (max-width: $tablet) {
    font-size: min(16px, 1.4rem);
  }

  $bpTabletMin: calc(#{$tablet} + 1px);

  &::before {
    content: attr(data-txt);
    white-space: nowrap;
    position: absolute;
    left: 1.333em;
    top: 0.888em;
    transition: all 0.34s ease-in-out;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    width: 0.8em;
    height: 0.8em;
    background: url(../content/svg/icon-home.svg) no-repeat 100%;
    background-size: contain;
    right: 0.888em;
    transform-origin: center;
    transform: translate(0, -60%) rotate(180deg);
    transition: all 0.34s ease-in-out;
  }

  &--basic {
    padding: 0.888em;
    text-align: center;
    &::after {
      content: none;
    }

    @media (hover: hover) and (min-width: $bpTabletMin) {
      &:hover,
      &:focus {
        background-color: $white;
        color: $black;
      }
    }
  }

  &--invert {
    color: $black;
    border: 1px solid rgba($black, 0.3);
    &::after {
      background-image: url(../content/svg/icon-home--black.svg);
    }

    @media (hover: hover) and (min-width: $bpTabletMin) {
      &:hover,
      &:focus {
        background-color: $point1 !important;
        color: $white !important;
        border-color: $point1 !important;
        &::after {
          background-image: url(../content/svg/icon-home.svg) !important;
        }
      }
    }
  }

  &--em {
    background-color: $white;
    color: $black;
    border-color: $white;
    // @include btn2-en;
  }

  &--dynamic {
    @media (hover: hover) {
      &:hover,
      &:focus {
        
        .txt {
          opacity: 0;
        }
        &::before {
          left: 50%;
          transform: translateX(-50%);
          color: $point1;
        }
  
        &::after {
          transform: translate(150%, -60%) rotate(180deg);
          opacity: 0;
        }
      }
    }

    .txt {
      opacity: 0;
      visibility: collapse;
    }
  }

}