.dropdown {
  @include btn2-en;

  @media all and (max-width: $tablet) {
    font-size: min(16px, 1.4rem);
  }

  display: inline-block;
  position: relative;
  line-height: 1;

  &__selection {
    width: 100%;
    height: auto;
    color: $black;
    text-align: left;
    max-width: none;
    word-break: break-all;
    border: 1px solid $white;
    border: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: $font-gothic;
    line-height: 1;
    padding: 0.63em;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: $white;

    &::after {
      content: '';
      display: inline-block;
      position: relative;
      width: 0.8em;
      height: 0.8em;
      right: 0;
      top: 0.1em;
      margin-left: 1em;
      background: url(../content/svg/icon-product.svg) center center / 100% no-repeat;
      transform: rotate(180deg);
      transition: transform 0.3s;

      @media all and (max-width: $tablet) {
        margin-left: 0.57em;
      }
    }
    
    &:nth-of-type(1){
      margin-top: 0;
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    min-width: 100%;
    background-color: $white;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
    transition: transform 0.3s;
    transform-origin: top;
    text-align: center;
  }

  &__a {
    width: 100%;
    padding: 0.63em;
    border: 0;
    background-color: transparent;
    font-size: inherit;
    transition: background-color 0.2s;
    cursor: pointer;

    @media all and (hover: hover) and (min-width: $tablet){
      &:hover,
      &:focus {
        background-color: rgba(#d7d7d7, 0.5) !important;
      }
    }
  }

  &.closed {

    .dropdown__selection {
      &::after {
        transform: rotate(0);
      }
    }
    .dropdown__list {
      transform: scaleY(0);
    }
  }
}

[data-state="K9A1"],
[data-state="K9A1-SNOW"] {
  .dropdown__a[data-item="K9A1"] {
    background-color: $white;
    color: $point1;
  }
}

[data-state="REDBACK"],
[data-state="REDBACK-DESERT"] {
  .dropdown__a[data-item="REDBACK"] {
    background-color: $white;
    color: $point1;
  }
}

html:lang(ko) {
  .dropdown__a[data-item="KOR"] {
    background-color: $white;
    color: $point1;
  }
}

html:lang(en) {
  .dropdown__a[data-item="ENG"] {
    background-color: $white;
    color: $point1;
  }
}