.guide {
  .dimmed {
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.6;
    z-index: 2999;

    &::before,
    &::after {
      opacity: 0;
    }
  }

  .header {
    pointer-events: none;
    .btn-back {
      opacity: 0.2;
    }

    .util {
      display: none;
    }
  }

  .indicator-panel * {
    pointer-events: none !important;
  }

  &-popup {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: max(164px, 10.10vw);
    color: $white;
    text-align: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16);
    transition: all 0.41s;

    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      border-top: 1px solid $white;
      border-left: 1px solid $white;
    }
    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      right: 0;
      border-top: 1px solid $white;
      border-right: 1px solid $white;
    }

    .content {
      padding: 1.5em;

      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid $white;
        border-left: 1px solid $white;
      }
      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        bottom: 0;
        right: 0;
        border-bottom: 1px solid $white;
        border-right: 1px solid $white;
      }
    }

    .p {
      line-height: 1.5;
    }

    &[data-item="dropdown"] {
      top: calc(100% + 0.73vw + 2em);
      left: 50%;
      transform: translate(-50%, 0);
    }

    &[data-item="condition"] {
      top: 0;
      left: -100%;
      transform: translate(-25%, -25%);

      .guide-arrow{
        top: 50%;
        right: 0;
        left: auto;
        bottom: auto;
        transform: rotate(90deg) translate(-50%, -92%);
        transform-origin: top;
      }
    }

    &[data-item="parts"] {
      top: calc(100% + 0.73vw + 2em);
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .guide-popup {
    opacity: 1;
  }
}

.btn-close-guide {
  display: block;
  position: absolute;
  right: 60px;
  top: 44px;
  width: 32px;
  height: 32px;
  background-image: url(../content/svg/btn-close.svg);
  background-size: 100%;
  z-index: 30;
  visibility: collapse;

  .guide & {
    visibility: visible;
  }
}

.guide-arrow{
  position:absolute;
  top: 0;
  left: 50%;
  // bottom: 0;
  transform: translate(-50%, -92%);

  .line {
    border-right: 1px dotted $white;
    display:inline-block;
    height:2em;
  }
  .arrow{
  position:absolute;
    top:-0.3rem;
    bottom:0;
    height:1rem;
    border-right: 1px solid $white;
    display: inline-block;
  }
  .right{
    left:0.3rem;
    transform: rotate(-45deg);
  }
  .left{
    right:0.3rem;
    transform: rotate(45deg);
  }
}

.guide360 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.6);

  visibility: hidden;

  .begin & {
    visibility: visible;
  }
}