.header {
  position: fixed;
  width: 100%;
  z-index: 3000;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: $h-padding-gap;
    padding-right: $h-padding-gap;
    padding-top: $h-gap;
  }

  &__showroom {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all 0.5s 0.34s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  a {
    display: block;
  }

  .gnb {
    display: flex;
    align-items: center;
  }

  .util {
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .home {
    position: relative;
    z-index: 10;
    width: clamp(196px, 12.7vw, 272px);

    &::before {
      content: '';
      display: block;
      position: relative;
      width: 100%;
      height: 40px;
      background-image: url(../content/svg/d_logo.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .btn-back {
    @include btn2-kr;
    min-width: 5.94em;
    padding: 0.63em;
    position: relative;
    border: 0;
    background-color: transparent;
    font-family: $font-gothic;
    color: $white;
    text-align: right;

    &::before {
      content: '';
      display: inline-block;
      // position: absolute;
      position: relative;
      margin-right: 1em;
      top: 0.1em;
      left: 0;
      // transform: translateY(-50%);
      width: 0.8em;
      height: 0.8em;
      background-image: url(../content/svg/icon-home.svg);
      background-size: 100%;
      transition: transform 0.2s;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        &::before {
          transform: translate(-50%, 0);
        }
      }
    }
  }

  .btn-back {
    opacity: 0;
    margin-right: 0.73vw;
  }

  .kind {
    opacity: 0;
    margin-left: 0.73vw;
    min-width: 5.94em;
  }

  .bar {
    height: 1em;
    width: 1px;
    background-color: rgba($white, 0.3);
    top: 0.63em;
  }

  .lang {
    opacity: 0;
  }

  .sound {
    opacity: 0;
  }

  .sound {
    display: flex;
    justify-content: space-between;
    margin-left: 1.25vw;
    margin-bottom: 3px;
    font-size: 1em;
    width: 1em;
    height: 0.8em;
    cursor: pointer;

    span {
      display: inline-block;
      width: 18%;
      height: 100%;
      background-color: $point1;
      transform-origin: bottom;
      transform: scaleY(0.5);
      animation: init 0.4s alternate-reverse;
    }

    &.on {
      span {
        animation: eq 20s infinite alternate;
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            animation-delay: (random(100) * $i * -0.15s);
          }
        }
      }
    }

    @keyframes eq {
      @for $i from 1 through 50 {
        #{($i * 2%)} {
          transform: scaleY(random(100) * 0.01);
        }
      }
    }

    @keyframes init {
      to {
        transform: scaleY(0.6);
      }
    }
  }

  &[data-state="showroom"] {

    .header__showroom {
      transform: translateY(0)
    }
    .home {
      display: none;
      visibility: hidden;
    }

    .btn-back {
      opacity: 1;
    }

    .kind {
      opacity: 1;
    }

    .lang {
      opacity: 1;
    }

    .sound {
      opacity: 1;
    }
  }

  @media all and (max-width: $tablet) {
    .btn-back {
      min-width: initial;
      padding-left: 0;
      margin-right: 4.1vw;

      &::before {
        margin-right: 0.57em;
      }
    }
  
    .kind {
      margin-left: 4.1vw;
    }

    .sound {
      margin-left: 6.15vw;
    }
  }
}