.gate {
  position: absolute;
  background-color: $white;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  
  .entry {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
    color: $white;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      flex: 50%;
      position: relative;
    }

    &__inner {
      position: relative;
      text-align: center;
    }

    .clip-wrap {
      display: block;
      overflow: hidden;
    }

    .tit {
      text-transform: uppercase;
      transform: translateY(102%);
    }

    .desc {
      padding-top: 0.85em;
      padding-bottom: 1.55em;
      transform: translateY(102%);
    }

    .func {
      display: inline-block;
      position: relative;
      transform: translateY(102%);

      // [NOTE] 변형 UI
      .bttn {
        position: absolute;
        width: 50%;
        top: 0;
        left: 0;
        opacity: 0;
      }

      .bttn + .bttn {
        left: calc(50% - 1px);
      }

      [data-bp="mobile"] {
        display: none;
      }
    }

    .bg {
      @include full-pos;
      width: 100%;
      height: 100%;
      // object-fit: cover;
  
      video.in,
      video.hover {
        @include full-pos;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      &::after {
        content: '';
        @include full-pos;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.1);
        transition: background-color 0.34s;
      }
    }

    &.is-left {
      .entry__item--right .bg::after {
        background-color: rgba($black, 0.35);
      }
    }

    &.is-right {
      .entry__item--left .bg::after {
        background-color: rgba($black, 0.35);
      }
    }
  }

  @media all and (max-width: $tablet) {
    height: var(--cover-height);
    .entry {
      flex-direction: column;
      height: var(--cover-height);

      &__inner {
        padding-bottom: 0;
      }

      &__item {
        flex: 1;
      }

      .tit,
      .desc {
        display: none;
      }

      .func {
        padding-bottom: 7.4vmin;

        [data-bp="web"] {
          display: none;
        }

        [data-bp="mobile"] {
          display: block;
        }
      }
    }
  }
}