.gate {
  position: absolute;
  background-color: $white;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 17;

  video.in-web {
    @include full-pos;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1001;
  }

  img.in-web, img.in-mobile {
    @include full-pos;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video.in-mobile {
    @include full-pos;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 1001;
  }
  
  .entry {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
    color: $white;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      //align-items: center;
      flex: 50%;
      position: relative;
      
      &--top, &--bottom {
        width: 100%;
        flex: 100%;
      }
    }

    &__inner {
      position: relative;
      padding-left: 4.4444vmin;
      padding-bottom: 4.4444vmin;
    }

    .clip-wrap {
      display: block;
      overflow: hidden;
    }

    .tit {
      text-transform: uppercase;
      transform: translateY(102%);
      display: inline-flex;
      cursor: pointer;

      &.headline-4-kr { 
        padding-bottom: to-em(24px, $base: 68px);
      }

      &.headline-3-en {
        padding-bottom: to-em(24px, $base: 84px);
      }

    }

    .desc {
      padding-top: 0.85em;
      padding-bottom: 1.55em;
      transform: translateY(102%);
    }

    .func {
      display: inline-block;
      position: relative;
      transform: translateY(102%);

      // // [NOTE] 변형 UI
      // .bttn {
      //   position: absolute;
      //   width: 50%;
      //   top: 0;
      //   left: 0;
      //   opacity: 0;
      // }

      // .bttn + .bttn {
      //   left: calc(50% - 1px);
      // }

      [data-bp="mobile"] {
        display: none;
      }
    }

    .bg {
      @include full-pos;
      width: 100%;
      height: 100%;
      // object-fit: cover;
  
      video.in,
      video.hover, 
      img {
        @include full-pos;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      &::after {
        content: '';
        @include full-pos;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.15);
        transition: background-color 0.34s;
      }
    }

    &.is-left {
      .entry__item--right {
        .bg::after {
          background-color: rgba($black, 0.6);
        }

        .entry__inner {
          opacity: 0.2;
        }
      }
    }

    &.is-top {
      .entry__item--left {
        .bg::after {
          background-color: rgba($black, 0.6);
        }

        .entry__inner {
          opacity: 0.2;
        }
      }

      .entry__item--bottom {
        .bg::after {
          background-color: rgba($black, 0.6);
        }

        .entry__inner {
          opacity: 0.2;
        }
      }
    }

    &.is-bottom {
      .entry__item--left {
        .bg::after {
          background-color: rgba($black, 0.6);
        }

        .entry__inner {
          opacity: 0.2;
        }
      }
      
      .entry__item--top {
        .bg::after {
          background-color: rgba($black, 0.6);
        }

        .entry__inner {
          opacity: 0.2;
        }
      }
    }
  }

  @media all and (max-width: $tablet) {
    height: var(--cover-height);

    video.in-mobile, img.in-mobile {
      display: block;
    }

    video.in-web, img.in-web {
      display: none;
    }

    .entry {
      flex-direction: column;
      height: var(--cover-height);

      &__inner {
        padding-bottom: 0;

        // .tit {
        //   &.headline-4-kr {
        //     font-size: max(48px, 5.625rem);
        //     padding-bottom: to-em(24px, $base: 34px);
        //   }

        //   &.headline-3-en {
        //     padding-bottom: to-em(24px, $base: 36px);
        //   }
        // }
      }

      &__item {
        flex: 1;
      }


      .tit,
      .desc {
        display: none;
      }

      

      .func {
        [data-bp="web"] {
          display: none;
        }

        [data-bp="mobile"] {
          display: inline-flex;
        }

        .headline-5, .headline-3-en {
          color: $white;
          
          .txt { 
            margin-top: to-em($px: 7px, $base: 34px);
            margin-right: to-em($px: 7px, $base: 34px);
          }

          .icon{
            width: to-em($px : 17px, $base : 34px);
            height: to-em($px : 17px, $base : 34px);
            
            &::before,&::after{
              width: to-em($px : 10px, $base : 34px);
              height: to-em($px : 10px, $base : 34px);
            }
          }

          padding-bottom: to-em(24px, $base: 34px);
        }
      }

      // .bg {
      //   video.in,
      //   video.hover {
      //     display: none;
      //   }
      // }
    }
  }
}