body[data-state="guide-step-1"] {
  .guide360 {
    visibility: visible;
  }
}

body[data-state="guide-step-2"] {
  .dimmed {
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.6;
    z-index: 2999;

    &::before,
    &::after {
      opacity: 0;
    }
  }

  .header {
    pointer-events: none;
    .btn-back,
    .dropdown__selection,
    .bar {
      opacity: 0.2;
    }

    .util {
      display: none;
    }
  }

  .indicator-panel {
    * {
      pointer-events: none !important;
    }

    .parts,
    .btn {
      opacity: 0.2;
    }
  }

  .guide-popup {
    opacity: 1;

    @extend .body4;
  }

  .btn-close-guide {
    visibility: visible;
  }

  .bot .btn {
    pointer-events: none;
    opacity: 0.2 !important;
  }
}

.guide-popup {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: max(164px, 11.35vw);
  color: $white;
  background-color: rgba($white, 0.12);
  text-align: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.41s;
  font-size: max(12px, 0.9375rem); 
  line-height:1.6;
  font-weight: 400;
  letter-spacing: 0.015em;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 0.6em;
  //   height: 0.6em;
  //   top: 0;
  //   left: 0;
  //   border-top: 1px solid $white;
  //   border-left: 1px solid $white;
  // }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 0.6em;
  //   height: 0.6em;
  //   top: 0;
  //   right: 0;
  //   border-top: 1px solid $white;
  //   border-right: 1px solid $white;
  // }

  .content {
    padding: 1.5em;

    html:lang(en) & {
      padding: 1.3em;
    }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   width: 0.6em;
    //   height: 0.6em;
    //   left: 0;
    //   bottom: 0;
    //   border-bottom: 1px solid $white;
    //   border-left: 1px solid $white;
    // }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 0.6em;
    //   height: 0.6em;
    //   bottom: 0;
    //   right: 0;
    //   border-bottom: 1px solid $white;
    //   border-right: 1px solid $white;
    // }
  }

  .p {
    line-height: 1.5;
  }

  &[data-item="dropdown"] {
    top: calc(100% + 0.73vw + 2em);
    left: 50%;
    transform: translate(-50%, 0);
  }

  &[data-item="condition"] {
    top: 0;
    left: -100%;
    transform: translate(-25%, -30%);

    .guide-arrow{
      top: 50%;
      right: 0;
      left: auto;
      bottom: auto;
      transform: translate(100%, -50%);
      transform-origin: top;
    }
  }

  &[data-item="parts"] {
    top: calc(100% + 0.73vw + 2em);
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media all and (max-width: $mobile) {

    font-size: max(16px, 1.25rem);
    line-height: 1.5;
    letter-spacing: -0.02em;
    html:lang(en) & { 
      font-family: "canada-type-gibson", sans-serif;
    }

    &[data-item="dropdown"] {
    }
    &[data-item="condition"] {
      top: auto;
      left: 0;
      bottom: 2em;
      transform: translate(0, -50%);

      .guide-arrow {
        left: 50%;
        top: auto;
        right: auto;
        bottom: 0;
        transform: rotate(90deg) translate(72%, 100%);
        transform-origin: center;
      }
    }
    &[data-item="parts"] {
      top: 50%;
      left: -4em;
      transform: translate(-100%, -50%);

      .guide-arrow{
        top: 50%;
        right: 0;
        left: auto;
        bottom: auto;
        transform: translate(100%, -50%);
        transform-origin: top;
      }
    }
  }
}

.btn-close-guide {
  display: block;
  position: absolute;
  top: 44px;
  right: 60px;
  width: 2em;
  height: 2em;
  background: transparent url(../content/svg/btn-close.svg) no-repeat center / contain;
  border: 0;
  cursor: pointer;
  z-index: 30;
  visibility: collapse;

  span {
    position: absolute;
    left: -0.73vw;
    top: 50%;
    transform: translate(-100%, -50%);
    color: $white;
  }

  @media all and (max-width: $mobile) {
    top: calc(1.3vw + 15px);
    right: calc(2.35vw + 15px);
    width: 1.71em;
    height: 1.71em;
    font-size: min(16px, 1.4rem);

    span {
      left: -3.06vw;
    }
  }
}

.guide-arrow{
  position:absolute;
  top: 0;
  left: 50%;
  transform-origin: center;
  transform: rotate(-90deg) translate(76%, -100%);

  &::before {
    content: '';
    display: block;
    background: url(../content/svg/arrow_guide.svg);
    width: 30px;
    height: 13px;
  }
}

.guide360 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.6);
  z-index: 3000;

  visibility: hidden;

  [data-scene="KSLV-II (Nuri)"] &, [data-scene="누리호"] & {
    display: none;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;
  }

  &__visual {
    display: inline-block;
    max-width: 194.2px;
    max-height: 194.2px;
    opacity: 0;
    transform: translateY(10%);
  }

  &__desc {
    margin-top: 1.5em;
    opacity: 0;
    transform: translateY(10%);
  }

  @media all and (max-width: $tablet) {
    &__visual {
      max-width: 166px;
      max-height: 166px;
    }

    &__desc {
      font-size: min(16px, 1.4rem);
      line-height: 1.5;
      letter-spacing: -0.02em;
    }
  }
}

html:lang(en) {
  font-family: "canada-type-gibson", sans-serif;
}