@use "sass:math";

.indicator-panel {
  position: fixed;
  top: 50%;
  right: $h-padding-gap;
  width: max(164px, 11.35vw);
  transform: translate(0, -50%);
  z-index: 1000;
  font-family: 'canada-type-gibson', sans-serif;
  font-weight: 300;
  
  [data-bp="mobile"] {
    display: none !important;
  }

  @media all and (max-width: $tablet) {
    [data-bp="web"] {
      display: none;
    }

    [data-bp="mobile"] {
      display: inline-flex;
    }
  }

  .parts {
    display: flex;
    flex-direction: column;
    gap: 0.94vw;
    margin-top: 1.35vw;

    @media all and (max-width: $tablet) {
      gap: 6.15vw;
    }

  }

  .part {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.85em;
    position: relative;
    padding: 0.43em 0;
    color: $white;
    cursor: pointer;
    font-size: max(12px, 0.875rem);
    letter-spacing: -0.01em;
    font-weight: 400;

    &.reset { display: none; }

    &[data-feature="reset"] {
      &:after, &:before, .txt { display: none; }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(#fff, 0.3);
    }
 
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10%;
      height: 1px;
      background-color: rgba(#fff, 1);
      transition: all 0.3s;
    }

    @media (hover: hover) and (min-width: $tablet) {
      &:hover,
      &:focus {
        &::after {
          width: 100%;
        }
      }
    }

    @media all and (max-width: $tablet) {
      padding: 0 0 0.29em;
      font-size: clamp(16px, 1.25rem, 24px);
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.02em;
    }
  }

  opacity: 0;

  @media all and (max-width: $mobile) {
    width: auto;
    .part {
      .txt {
        display: none;
      }

      &::after {
        width: 100%;
      }
    }
  }
}

.indicator-panel,
.bot {
  .btn {
    border-radius: 10px;
    min-width: auto;
    width: 100%;
    font-weight: 400;
    font-size: max(14px, 1rem);
    letter-spacing: -0.01em;
    justify-content: center;
  }

  .condition-wrap {
    [data-scene="누리호"] &, [data-state="KSLV"] &, [data-scene="KSLV-II (Nuri)"] & {
      display: none;
    }
  }

  [data-bp="mobile"] { display: none; }

  @media all and (max-width: $tablet) {
    [data-bp="web"] {
      display: none;
    }

    [data-bp="mobile"] {
      display: inline-flex;
    }
  }
}

.bot {
  position: fixed;
  bottom: $h-gap;
  right: $h-padding-gap;
  //width: max(164px, 11.35vw);
  z-index: 1;

  opacity: 0;
  
  @media all and (max-width: $tablet) {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    gap: 12px;
    width: calc(100% - $h-padding-gap * 2);
    left: $h-padding-gap;
    bottom: 7.4vmin;

    [data-state="KSLV"] &, 
    [data-scene="KSVL-II (Nuri)"] &,
    [data-scene="누리호"] & {
      justify-content: center;
    }

    // > .btn,
    // > * {
    //   width: 50%;
    // }

    .bttn .txt {
      &:after { display: none; }
    }

    &:after {
      content: "";
      display: block;
      position: fixed;
      z-index: -1;
      bottom: -7.4vmin;
      width: 100vw;
      height: 100vh;
      //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.2) 95%, rgba(0, 0, 0, 0.4) 100%)
    }
  }
}

$poies: "longerFiringRange", "highMobility", "ammunitionLoader", "automaticControlSystem", "irCamera", "mainArmamentSystem", "antiTankArmamentSystem", "bestMobility", "superiorProtection", "isuRubberTrack", "ton75classEngine", "engineClustering", "liquidEngineFuelSystem", "ton7classEngine", "collisionPreventionSystem";

@each $poi in $poies {
  [data-focus="#{$poi}"] {
    .part[data-feature="#{$poi}"] {
      &::after {
        width: 100%;
      }
    }
    .part:not([data-feature="#{$poi}"]) {
      opacity: 0.5;
    }
  }
}