@use "sass:math";

.webgl-section {
  word-break: keep-all;
  word-wrap: break-word;

  .content-wrapper {
    height: 100vh;
  }

  .marker {
    position: absolute;
    top: 0;
  }

  @media all and (max-width: $mobile) {
    height: var(--cover-height);

    .content-wrapper {
      height: var(--cover-height);
    }
  }
}

.webgl-container {
  
}

.webgl {
  @include full-pos;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  @media all and (max-width: $mobile) {
    min-height: 100%;
  }
}

#webgl-ui {
  position: absolute;
  top: 0;
  left: 0;
}

.bttn {
  display: inline-block;
  position: relative;
  padding: 0.888em 0.888em 0.888em 1.333em;
  text-align: left;
  color: $point1;
  background-color: transparent;
  border: 1px solid $point1;
  font-family: $font-gothic;
  text-transform: uppercase;
  transition: all 0.34s ease-in-out;
  cursor: pointer;
  
  @include btn1-en;

  &[lang=ko] {
    @include btn1-kr;
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: $point1;
      color: $white;
    }
  }
}

.indicator-panel {
  position: fixed;
  top: 50%;
  right: $h-padding-gap;
  width: max(164px, 10.10vw);
  transform: translate(0, -50%);
  z-index: 1000;

  .part {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    $partPadding: math.div(0.94vw, 2);
    position: relative;
    padding: calc(0.43em + #{$partPadding}) 0;
    color: $white;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: #{$partPadding};
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(#fff, 0.3);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: #{$partPadding};
      right: 0;
      width: 10%;
      height: 1px;
      background-color: rgba(#fff, 1);
      transition: all 0.3s;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        &::after {
          width: 100%;
        }
      }
    }

    &s {
      margin-top: 1.35vw;
    }
  }

  opacity: 0;
  // pointer-events: none;
}

.bot {
  position: fixed;
  bottom: $h-gap;
  right: $h-padding-gap;
  width: max(164px, 10.10vw);
  z-index: 1;

  opacity: 0;
  // pointer-events: none;
}

.indicator-panel,
.bot {
  .btn {
    min-width: auto;
    width: 100%;
  }
}

.dimmed {
  pointer-events: none;
  // opacity: 0;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // opacity: 0.2;
  }

  &::before {
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    width: 20%;
    left: 0;
  }

  &::after {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    width: 20%;
    right: 0;
  }
}