@use "sass:math";

.webgl-section {
  word-break: keep-all;
  word-wrap: break-word;

  .content-wrapper {
    height: 100vh;
  }
  img.bg {
    @include full-pos;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .entry {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      flex: 50%;
      position: relative;
    }

    &__inner {
      position: relative;
      text-align: center;
    }

    .tit {
      text-transform: uppercase;
    }

    .desc {
      padding-top: 0.85em;
      padding-bottom: 1.55em;
    }

    .func {
      display: inline-block;
      position: relative;

      // [NOTE] 변형 UI
      .bttn {
        position: absolute;
        width: 50%;
        top: 0;
        left: 0;
        opacity: 0;
      }

      .bttn + .bttn {
        left: calc(50% - 1px);
      }

      // @media (hover: hover) {
      //   &:hover,
      //   &:focus {

      //     .btn {
      //       opacity: 0;
      //     }

      //     .bttn {
      //       opacity: 1;
      //     }
      //   }
      // }
    }
  }

  .marker {
    position: absolute;
    top: 0;
  }
}

.webgl {
  @include full-pos;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.bttn {
  display: inline-block;
  position: relative;
  padding: 0.888em 0.888em 0.888em 1.333em;
  text-align: left;
  color: $point1;
  background-color: transparent;
  border: 1px solid $point1;
  font-family: $font-gothic;
  text-transform: uppercase;
  transition: all 0.34s ease-in-out;
  cursor: pointer;
  
  @include btn1-en;

  &[lang=ko] {
    @include btn1-kr;
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: $point1;
      color: $white;
    }
  }
}

.indicator-panel {
  position: fixed;
  top: 50%;
  right: $h-padding-gap;
  width: max(164px, 10.10vw);
  transform: translate(0, -50%);
  z-index: 1;

  .part {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    $partPadding: math.div(0.94vw, 2);
    position: relative;
    padding: calc(0.43em + #{$partPadding}) 0;
    color: $white;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: #{$partPadding};
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(#fff, 0.3);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: #{$partPadding};
      right: 0;
      width: 10%;
      height: 1px;
      background-color: rgba(#fff, 1);
      transition: all 0.3s;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        &::after {
          width: 100%;
        }
      }
    }

    &s {
      margin-top: 1.35vw;
    }
  }

  opacity: 0;
  // pointer-events: none;
}

.bot {
  position: fixed;
  bottom: $h-gap;
  right: $h-padding-gap;
  z-index: 1;

  opacity: 0;
  // pointer-events: none;
}

.poi-popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  @include btn2-kr;
  width: 31em;
  padding: 2.5em;
  color: $white;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16);

  top: 56%;
  left: 8%;
  visibility: hidden;
  opacity: 0;

  .btn-close {
    display: block;
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2em;
    height: 2em;
    background-image: url(/assets/content/svg/btn-close.svg);
    background-size: 100%;
  }

  .tit {
    padding-bottom: 0.86em;
  }

  .p {
    line-height: 1.5;
  }
}

.poi-container {
  user-select: all;
  pointer-events: all;
  &:hover{
    cursor: pointer;
  } 
  svg{width: 50px;}

  visibility: hidden;
  opacity: 0;
}